<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body class="bg-gradient-to-r from-indigo-500">
    <main class="w-8/12 mx-auto h-screen flex flex-col justify-center items-center">
        <form method="post" class="relative flex flex-col items-center gap-5 w-1/3 px-8 py-10 rounded backdrop-blur-lg bg-white/30">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <h1 class="text-4xl font-semibold text-gray-700 mb-5">Şifre Yenileme</h1>
            <input type="email" name="email" class="border py-2 rounded px-3 outline-none text-sm text-gray-500 w-full" placeholder="Email" required>
            <button type="submit" class="border px-8 py-2 rounded font-semibold hover:bg-white transition-all">Gönder</button>
            <a href="/account/login" class="underline cursor-pointer hover:text-gray-600">Giriş Yap</a>
            <% if (message) { %>
                <% if (message == 'success') { %>
                    <div class="absolute -top-[60px] left-0 w-full rounded text-lg text-center font-semibold px-3 py-4 text-green-800 bg-green-500/40">
                        <p>Email Başarıyla Gönderildi</p>
                    </div>
                <% }  else if(message == 'error') { %>
                    <div class="absolute -top-[60px] left-0 w-full rounded text-lg text-center font-semibold px-3 py-4 text-red-800 bg-red-500/40">
                        <p>Email Bulunamadı.</p>
                    </div>
                <% } %>
            <% } %>
        </form>
    </main>
</body>
</html>