<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Users | <%= title %></title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="/static/css/main.css" />
<style>
  .ck-editor__editable_inline {
    min-height: 300px;
    border: none;
  }
  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border: none;
  }
  .ck-focused {
    border: none !important;
    box-shadow: none !important;
  }
  .ck.ck-editor__main > .ck-editor__editable {
    border: none;
    border-radius: 1px;
    background-color: rgba(231, 229, 229, 0.3) !important;
    color: white !important;
  }
  .ck.ck-toolbar {
    background-color: rgba(231, 229, 229, 0.3) !important;
  }
  .ck.ck-toolbar {
    border: none !important;
  }
</style>
