<article class="w-full flex border items-center gap-5 rounded hover:bg-gray-900 hover:text-white transition-all">
  <img src="/static/images/<%= image %>" class="w-80 max-h-[180px] object-cover" />
  <a href="/blogs/<%= url %>" class="px-8">
    <h3 class="text-2xl font-semibold underline"><%= title %></h3>
    <p><%- subTitle %></p>
  </a>
</article>
